.brands__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 26px;
  margin: 32px 0 100px;
}

@media (width < 900px) {
  .brands__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width < 500px) {
  .brands__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width < 350px) {
  .brands__list {
    display: none;
  }
}
.brands__list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brands__list li > img {
  max-height: 111px;
  max-width: 152px;
  object-fit: cover;
}
