/* Змінні для кольорів */
:root {
  --accent-color: #ff5c00;

  --text-color-primary: #353434;
  --text-color-secondary: #a8a8a8;
  --text-color-white: #fff;
  --text-color-accent: #38318b;
  --text-color-accentBtn: #4238AF;
  --text-title-color: #353434;
  --placeholder:#A5A5A5;

  --background-color: #f5f7ff;
  --background-color-white: #fff;
  --background-color-accent: #544cac;
  --background-color-secondary: #ced5f4;
  --backgroundBtn-color: #c0c2f822;
}

/* Змінні для шрифтів */
:root {
  --font-size-small: 12px;
  --font-size-base: 14px;
  --font-size-medium: 16px;
  --font-size-subtitle: 20px;
  --font-size-title: 40px;
  --font-size-large: 45px;
}
